

/* @import 'autoptimize.css'; */
header .navbar-brand .logo {
    background: url(../images/general/logo-white.png);
    width:135px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: -10px;
}

header.slideInDown .logo {
    background: url(../images/general/logo.png);
    width:135px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: -10px;
   
}


.btn-whitepaper a:after {
    content: url(../images/general/download-icon.png);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 8px;
}
.btn-whitepaper a {
    padding: 10px 40px 10px 10px !important;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
    border: 2px solid #fff;
    opacity: 1;
    border-radius: 5px;
    color: #fff !important;
}

.btn-whitepaper a:hover, .btn-whitepaper a:active{
    background: #4aafae !important;
    color: #fff !important;
}

#fh5co-header #navbar li a {
    color: #fff !important;
}

#fh5co-header #navbar li.active a {
    color: #7dc1c2 !important;
}

#fh5co-header #navbar li a:hover, #fh5co-header #navbar li a:active {
    color: #7dc1c2 !important;
}

#fh5co-header #navbar li a span:before{
    display: none;
}

#fh5co-header #navbar li.btn-whitepaper  a:hover {
    color: #fff !important;
}
#navbar li.btn-whitepaper {
    padding-top: 8px;
}




.btn {
    min-width: 180px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 0;
}



.btn-green {
    background: #9bc64f;
    color: #5d1a62 !important;
    border: 1px solid #9bc64f !important;
    margin-bottom: 20px;
}

.btn-green:hover, .btn-green:active {
    background: #5d1a62 !important;
    color: #9bc64f !important;
    border: 1px solid #9bc64f !important;
}


#fh5co-home .text-inner {
    display: table-cell;
    vertical-align: top;
    padding-top: 20%;
    text-align: center;
}

#fh5co-home .text-inner h1 {
    font-size:1.9em;
    font-weight:600;
}
#fh5co-home .text-inner h2 {
    font-size:1.6em;
    font-weight:600;
    margin-bottom:1em;
}

#fh5co-home .text-inner p {
    font-size:0.8em;
    font-weight:300;
    line-height: 1em;
}

ul#clock{
    padding-left:0px;
    margin-bottom: 40px;
}

ul#clock > li {
    display: inline-block;
    padding: 0 10px 0 10px;
}

ul#clock > li h2.clickNum {
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 100;
    margin-bottom:0em;
}


ul#clock > li .clock-text {
    position: relative;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: 0.4em;
    top: 50%;
}


.bullet-point { float: left; }

.clear-float { clear: both; }

@media (min-width: 1300px){
.container {
    width: 90%;
    }
}

@media (min-width: 768px){
    .container {
        width: 90%;
        }


       
        
    }

    @media (max-width: 768px){
        
            header .navbar-brand .logo, header .logo {
                background: url(../images/general/logo.png);
                width:135px;
                height: 43px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                margin-top: -10px;
               
            }
            
        }