        
        

 /* @import 'owl.css'; */ 
header .navbar-brand .logo {
    background: url(../images/general/logo-white.png);
    width:135px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: -10px;
}

header.slideInDown .logo {
    background: url(../images/general/logo.png);
    width:135px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: -10px;
   
}
#fh5co-intro{
   background-image: url(../images/general/teal-bg.png);
}
header.slideInDown #fh5co-header #navbar li a  {
    color: #3b3d49;
}

header.slideInDown .btn-whitepaper a:after {
    content: url(../images/general/download-icon.png);
}

header.slideInDown .btn-whitepaper a:hover:after {
    content: url(../images/general/download-icon-white.png);
}

.btn-whitepaper a:hover:after {
    content: url(../images/general/download-icon-white.png);
}
.btn-whitepaper a:after {
    content: url(../images/general/download-icon-white.png);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 8px;
}
header.slideInDown .btn-whitepaper a {
    color: #7dc1c2;
}
.btn-whitepaper a {
    padding: 10px 40px 10px 10px !important;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
    border: 2px solid #fff;
    opacity: 1;
    border-radius: 5px;
    color: #fff;
}

.btn-whitepaper a:hover, .btn-whitepaper a:active{
    background: #4aafae !important;
    color: #fff !important;
}

#fh5co-header #navbar li a {
    color: #fff;
}

#fh5co-header #navbar li.active a {
    color: #7dc1c2 !important;
}

#fh5co-header #navbar li a:hover, #fh5co-header #navbar li a:active {
    color: #7dc1c2 !important;
}

#fh5co-header #navbar li a span:before{
    display: none;
}

#fh5co-header #navbar li.btn-whitepaper  a:hover {
    color: #fff !important;
}
#navbar li.btn-whitepaper {
    padding-top: 8px;
}

.btn {
    min-width: 180px;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 0;
}



.btn-green {
    background: #9bc64f;
    color: #5d1a62 !important;
    border: 1px solid #9bc64f !important;
    margin-bottom: 20px;
}

.btn-green:hover, .btn-green:active {
    background: #5d1a62 !important;
    color: #9bc64f !important;
    border: 1px solid #9bc64f !important;
}


.btn-purple {
    background: #5d1a62;
    color: #fff;
    border: 1px solid #5d1a62 !important;
}

.btn-purple:hover, .btn-purple:active {
    background: #9bc64f !important;
    color: #5d1a62 !important;
    border: 1px solid #5d1a62 !important;
}



.btn-img img, .footer-social-div .social img {
    width: 45px;
}

#fh5co-home .text-inner {
    display: table-cell;
    vertical-align: top;
    padding-top: 15%;
    text-align: center;
}

#fh5co-home .text-inner h1 {
    font-size:1.9em;
    font-weight:600;
    margin-bottom:1em;
    color:rgba(255, 255, 255, 0.8);
}
#fh5co-home .text-inner h2 {
    font-size:1.6em;
    font-weight:600;
    margin-bottom:1em;
    color:rgba(255, 255, 255, 0.8);
}

#fh5co-home .text-inner p {
    font-size:0.9em;
    font-weight:300;
    line-height: 1em;
    margin-bottom: 2em;
}
#fh5co-intro {
    position: relative;
    bottom: 0;
    margin-top: 0px;
    z-index: 10;
    padding-bottom: 7em;
    background-repeat: no-repeat;
    background-image: url(../images/general/teal-bg.png);
    background-position: center -159px;   
}

.social.social-circle a {
    background: none;
}
.watch-video, .social-circle {
        text-align: center;
        margin-bottom: 30px;
}
.section-heading {
    font-family: 'Montserrat',sans-serif;
    color: #5a1f5f;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.slant{
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    background: 0 0;
    margin-top: -9%;
    z-index: 9;
    padding-top: 5%;
    height:150px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}


#fh5co-video {
    background: 0 0;
    margin-top: -9%;
    z-index: 9;
    padding-top: 5%;
}
#colour-variations img {
    min-width: 100%;
    max-width: 100%;
}

ul#clock{
    padding-left:0px;
    margin-bottom: 40px;
}

ul#clock > li {
    display: inline-block;
    padding: 0 20px 0 20px;
}

ul#clock > li h2.clickNum {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 2.5em;
    font-weight: 100;
    margin-bottom:0.2em;
}


ul#clock > li .clock-text {
    position: relative;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: 0.6em;
    top: 50%;
}




.latest-blog-posts {
    position: relative;
}
  .latest-blog-posts .container-fluid {
    padding: 60px;
    position: relative;
    max-width: 1230px;
  }
  section .thumbnail {
    margin: 0 15px;
  }
  .latest-blog-posts .customNavigation {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: calc(50% - 37px);
    position: absolute;
    width: 100%;
    left: 0;
  }
  .latest-blog-posts .customNavigation > span {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    position: absolute;
  }
  .latest-blog-posts .pager-left {
    left: calc(0% + 15px);
  }
  .latest-blog-posts .pager-right {
    right: calc(0% + 15px);
  }
  .latest-blog-posts .next, .latest-blog-posts .prev {
    font-size: 28px;
    color: #ccc;
  }
  

.bullet-point { float: left; }

.clear-float { clear: both; }

@media (min-width: 1300px){
.container {
    width: 90%;
    }
}

@media (min-width: 768px){
    .container {
        width: 90%;
        }


       
        
    }

    @media (max-width: 768px){
        
            header .navbar-brand .logo, header .logo {
                background: url(../images/general/logo.png);
                width:135px;
                height: 43px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                margin-top: -10px;
               
            }
            
        }





